<mat-card>
  <mat-card-title>Car List</mat-card-title>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let car of cars">
        <img mat-list-avatar src="{{car.giphyUrl}}" alt="{{car.name}}">
        <h3 mat-line>{{car.name}}</h3>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>

<table mat-table [dataSource]="cars" class="mat-elevation-z8">
  <ng-container matColumnDef="a">
    <th mat-header-cell *matHeaderCellDef> Bla. </th>
    <td mat-cell> 1 </td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>
  <ng-container matColumnDef="c">
    <th mat-header-cell *matHeaderCellDef> Blaass </th>
    <td mat-cell> 3 </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="['a', 'name', 'c']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['a', 'name', 'c'];"></tr>
</table>
